body{
    background-color: rgb(139, 141, 255);
}
form{
 display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    background-color: #2f2a60 ;
    width: 300px;
    padding: 20px;
    border-radius: 10%;
}